---
- name: Resolve platform specific vars
  ansible.builtin.include_vars: '{{ item }}'
  with_first_found:
    - files:
        - '{{ ansible_facts["distribution"] }}-{{ ansible_facts["distribution_release"] }}.yml'
        - '{{ ansible_facts["distribution"] }}-{{ ansible_facts["distribution_major_version"] }}.yml'
        - '{{ ansible_facts["distribution"] }}.yml'
        - '{{ ansible_facts["os_family"] }}.yml'
      skip: true
      paths:
        - '{{ role_path }}/vars'

- name: Install sudo pkgs...
  become: true
  become_user: root
  ansible.builtin.package:
    name: '{{ sudoers_pkgs }}'
    state: present

- name: Fix PAM sss module issue in containers (RHEL 9+)
  when: sudoers_pam_sss_fix | default(false)
  become: true
  become_user: root
  ansible.builtin.replace:
    path: '{{ item }}'
    regexp: '^(.*)pam_sss\.so(.*)$'
    replace: '#\1pam_sss.so\2'
  loop:
    - /etc/pam.d/system-auth
    - /etc/pam.d/password-auth

- name: Ensure sudoers dropin directory {{ sudoers_dropin_dir }} exists
  become: true
  become_user: root
  ansible.builtin.file:
    path: '{{ sudoers_dropin_dir }}'
    state: directory
    mode: '750'

- name: Enable passwordless sudo for assorted groups
  become: true
  become_user: root
  ansible.builtin.template:
    src: '{{ item }}.j2'
    dest: '{{ sudoers_dropin_dir }}/{{ item }}'
    mode: '440'
  with_items:
    - nopasswd
    - proxyenv

- name: Ensure sudoers dropin directory is (hash)includedir-ed
  become: true
  become_user: root
  ansible.builtin.lineinfile:
    dest: '{{ sudoers_cfg_file }}'
    regexp: '^[#@]includedir\s+{{ sudoers_dropin_dir }}'
    line: '#includedir {{ sudoers_dropin_dir }}'

- name: Configuring sudo dropin
  when: sudoreplay_enabled
  block:
    - name: Ensure sudoreplay directory {{ sudoreplay_dir }} exists
      become: true
      become_user: root
      ansible.builtin.file:
        path: '{{ sudoreplay_dir }}'
        state: directory
        mode: '750'
    - name: Dropin sudoreplay
      become: true
      become_user: root
      ansible.builtin.template:
        src: sudoreplay.j2
        dest: '{{ sudoers_dropin_dir }}/sudoreplay'
        mode: '440'
